@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,600;1,700&display=swap");
:root {
  --midnight-green: #014e56;
  --light-coral: #f67e7e;
  --white: #ffffff;

  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --deep-jungle-green: #004047;
  --sacramento-state-green: #012f34;
  --dark-green: #002529;

  font-family: "Livvic", sans-serif;

}
/*index main banner*/

*{
  box-sizing: border-box;
}
.main-banner {
  font-family: "Livvic";
  position: relative;
  text-align: center;
  background-color: rgba(1, 78, 86, 1);
  color: #ffffff;
 
}
.banner-title {
  font-size: normal;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  line-height: 40px;
  margin: 8px
}
.banner-text {
 
  text-align: center;  
  vertical-align: top;
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
  padding: 25px 2px 110px 2px; 
}
.bg-pattern-home-2{
    position: absolute;
    width: 358px;
    height: 200px;
    left: 50%;
    transform: translate(-50%);
    bottom: -100px;
}

/*index main features*/

.main-features-body {
  position: relative;
  font-family: "Livvic", sans-serif;
  text-align: center;
  overflow: hidden;
}
.red-line {
  position: absolute;
  padding: 28px 0px 25px 0px;
  left: 24px;
  width: 50px;
  height: 4px;
  border-bottom: solid #f67e7e;
}
.bg-pattern-home-3 {
  position: absolute;
  left: 275px;
  right: -250px;
  top: 0px;
}
.features-title {
 text-align: justify;
  font-family: "Livvic";
  text-align:left;
  padding: 80px 80px 50px 15px;
  font-size: normal;
  text-align: left;
  line-height: 32px;
  font-size: 32px;
  font-weight: 700;
  vertical-align: top;
  color: #ffffff;
  vertical-align: top;
}
.description-features h5{
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    line-height: 124%;
    vertical-align: top;
    padding: 18px 2px 5px 2px;
}
.description-features > h5, p {
    color: #ffffff;
    font-style: normal;
    opacity: 0.8;
    font-size: 15px;
    padding: 0px 25px 50px 25px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

/*about main banner*/

.main-banner-body{
    position: relative;
    font-family: "Livvic";
    background-color: rgba(1, 78, 86, 1);
    color: #ffffff;
    overflow: hidden;
}
.main-banner-title {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}
.main-banner-text{
    text-align: center;
    margin: 0px 24px 108px 24px;
    height: 196px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    z-index: 30;
}
.main-banner-image {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -100px;
    right: -100px;;
    opacity: 53,49%; 
}