@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,600;1,700&display=swap");
:root {
  --midnight-green: #014e56;
  --light-coral: #f67e7e;
  --white: #ffffff;

  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --deep-jungle-green: #004047;
  --sacramento-state-green: #012f34;
  --dark-green: #002529;

  font-family: "Livvic", sans-serif;

}
*{
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Livvic', sans-serif;
}
.body__1 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.body__2 {
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
}
.h1-large {
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
}
.h1-small {
    font-size: 64px;
    line-height: 56px;
    font-weight: 700;
}
.h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
}
.h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}
.input__text,
.input__textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    color: white;
    padding-left: 14px;
    margin-bottom: 24px;
    width: 325px;
}
.input__text{
    padding-bottom: 16px;
}
.input__textarea {
    resize: none;
}
.input__text::placeholder,
.input__textarea::placeholder {
    opacity: 0.6;
}
.input__text:focus-visible,
.input__textarea:focus-visible {
    border-color: var(--rapture-blue);
    outline: none;
}
.input__message{
    display: none;
    font-weight: 700;
    font-style: italic;
    font-size: 10px;
    line-height: 0.5rem;
    padding-left: 14px;
    width: 325px;
}
.input-alert{
    border-color: var(--light-coral);
    color: var(--light-coral);
}
.input__text.input-alert,
.input__textarea.input-alert{
    margin-bottom: 8px;
}
.input__message.input-alert {
    display: block;
    margin-bottom: 24px;
}
.about-container-img{
    background-color:#012F34;
    display:flex;
    flex-direction: column;
    color: #FFFFFF;
    text-align: center;
    gap: 56px;
    padding-bottom: 88px;
   
    
} 
.about-container{
    background-color:#012F34;
    color: #FFFFFF;
    text-align: center; 
    position: relative;
    padding-top: 88px;
    padding-bottom: 64px;
    overflow: hidden;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
}



.about-container-box{
    max-height: 25px;
    max-width: 113px;
    text-align: center;
    
    
}

.about-image{
    position:absolute ;
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    opacity: 54%;
    
 
}
/*.about-text-size{
    font-size: 32px;
    font-weight: 700;
}  */


.button{
    border-width: 2px;
    border-style: solid;
    border-radius: 24px;
    padding: 9px 32px 11px;
}
.button:disabled{
    opacity: 0.25;
}
.button-primary-light{
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}
.button-primary-light:hover{
    background-color: var(--white);
    color: var(--sacramento-state-green);
}
.button-primary-dark {
    background-color: transparent;
    border-color: var(--sacramento-state-green);
    color: var(--sacramento-state-green);
}
.button-primary-dark:hover{
    background-color: var(--sacramento-state-green);
    color: var(--white);
}
.button-secondary {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--sacramento-state-green);
}
.button-secondary:hover {
    background-color: var(--rapture-blue);
    border-color: var(--rapture-blue);
}

/*index main banner*/
.main-banner {
  font-family: "Livvic";
  position: relative;
  text-align: center;
  background-color: rgba(1, 78, 86, 1);
  color: #ffffff;
 
}
.banner-title {
  font-size: normal;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin: 8px
}

.banner-text {
  text-align: center;  
  vertical-align: top;
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
  padding: 25px 2px 110px 2px; 
}
.bg-pattern-home-2{
    position: absolute;
    width: 358px;
    height: 200px;
    left: 50%;
    transform: translate(-50%);
    bottom: -100px;
}

/*index main features*/

.main-features-body {
  position: relative;
  background-color: rgba(1, 47, 52, 1);
  font-family: "Livvic", sans-serif;
  text-align: center;
  overflow: hidden;
}
.red-line {
  position: absolute;
  padding: 28px 0px 25px 0px;
  left: 24px;
  width: 50px;
  height: 4px;
  border-bottom: solid #f67e7e;
}
.bg-pattern-home-3 {
  position: absolute;    
  display: inline-block;
  right:-100px;
  top: 0px;
 
}
.features-title {
  text-align: left;
  font-family: "Livvic";
  margin: 90px 100px 40px 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  font-style: normal;
  vertical-align: top;
  color: #ffffff;
  
}
.description-features h5{
    text-align: center;
    font-style: normal;
    vertical-align: top;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding: 18px 2px 5px 2px;
}
/* 
.description-features > h5, p{ 
    color: #ffffff;
    font-style: normal;
    font-size: 15px;
    opacity: 0.8;
    padding: 0px 25px 50px 25px;
    font-weight: 600;
    line-height: 25px;
    
}
*/

/*about main banner*/

.main-banner-body{
    position: relative;
    font-family: "Livvic";
    background-color: rgba(1, 78, 86, 1);
    color: #FFFFFF;
    overflow: hidden;
}
.main-banner-title {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: 'Livvic';
    font-style: normal;
    line-height: 56px;
    font-weight: 700;
    font-size: 64px;
    
}
.main-banner-text{
    text-align: center;
    margin: 0px 24px 108px 24px;
    height: 196px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    z-index: 30;
}
.main-banner-image {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -100px;
    right: -100px;;
    opacity: 53,49%; 
}

.contacts-container{
    background-color: #014E56;
    font-weight: bold;
    color: #FFFFFF;
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 48px;
 
}


.contacts-text-container{
    background-color: #014E56;
    font-weight: bold;
    color: #FFFFFF;
    display:flex;
    flex-wrap: wrap;
   
}  


.contacts-text-container-img{
margin-left: 25px;
 width: 72px;
 height: 72px;
 text-align: center;
}

.contacts-text-container-text{
padding-left: 21px;
max-width: 259px;
margin: auto;
font-size: 18px;
font-weight: 700;
line-height: 28px;
padding-bottom: 28px;
}

.contacts-text1{
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 16px;
    font-weight: 700;

}
.contacts-text2{
    font-size: 32px;
    color: #F67E7E;
    line-height: 48px; 
    font-weight: 700;
}

/*footer*/

.ready-to-get-start-body{
    background-color:#f67e7e;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.ready-to-get-start-text{
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    color: rgba(1, 47, 52, 1);
    padding: 80px 40px 25px 40px;
}
.button-primary-dark {
    margin: 5px 25px 100px 25px;
}

.ready-to-get-start-image {
    position: absolute;  
    margin: 0px 0px 0px 0px;
    top: 200px;        
}   
.footer-contacts-body {
    background-color: #002529;
    text-align: center;
    position: relative;
}
.footer-logo{
    padding: 50px 30px 15px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.footer-home-about {
    text-align: center;
    padding:10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}
.footer-contacts{
    
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    opacity:0.6;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -50px;
    margin-bottom: 25px;
    mix-blend-mode: normal;
}
.copyright{
    
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    opacity:0.6;
    mix-blend-mode: normal;
    margin-top: 25px;
}                            
/* header */
.header {
    background-color: var(--midnight-green);
    padding: 48px 24px;
    display: flex;
    align-items: center;
}
.logo{
    height: 32px;
    width: auto;
}
.hamburger {
    margin-left: auto;
}
.hamburger__img{
    height: 17px;
    width: auto;
}
.linked-img{
    height: fit-content;
}

.header__offcanvas {
    background-color: var(--police-blue);
    max-width: 255px;
    padding-top: 56px;
}
.nav{
    display: flex;
    flex-direction: row;
    padding: 0 48px;
}
.link-text{
    color: var(--white);
}
.link-text:hover{
    color: var(--light-coral);
}
.nav__item{
    flex-basis: 100%;
}
.nav__home {
    margin-bottom: 24px;
}
.nav__about {
    margin-bottom: 36px;
}
.close {
    margin-bottom: 39px;
    text-align: end;
    margin-right: 25px;
    line-height: 0;
}
.close__img {
    height: 17px;
    width: auto;
}
.offcanvas__bg-image{
    position: fixed;
    width: 200px;
    height: auto;
    bottom: 0;
    right: -100px;
}

/* index main stories */

.main-stories-body {
    color: #FFFFFF;
    padding-top: 140px; 
    padding-bottom: 84px;
    position: relative;
    text-align: center;
    background-color: #004047;
    
}

.quote {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    word-wrap: break-word;
    width: 380px;
    color: white;
    margin-bottom: 16px;
    background-image: url(assets/images/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 36px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}

.quotes {
    padding-top: 10px;
}

.stories-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.main-stories {
    margin: 0 auto;
    font-size: 32px;
    width: 327px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 30px;
}

.success-stories {
    color: #79C8C7;
}

.name {
    margin-top: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
    margin-bottom: 2px;
}

.role {
    font-family: "Livvic";
    font-style: italic;
    font-weight: 200;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 16px;
}

.avatar {
    border-radius: 50%;
    border: 2px solid #C4FFFE;
    width: 62px;
    height: 62px;
    margin-bottom: 53px;
}

.icon-bot-left {
    position: absolute;
    right: 0;
    bottom: 0;
}
.form-container {
    background-color: var(--midnight-green);
    padding: 10px 24px 88px 24px;
    position: relative;
    overflow: hidden;
}
.form-container__img {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -100px;
    right: -100px;
}

/* *********TABLET********* */

@media screen and (min-width: 768px){
    .header {
        padding: 73px 35px 111px;
    }
    .logo {
        margin-right: 54px;
    }
    .hamburger {
        display: none;
    }
    .close {
        display: none;
    }
    .offcanvas__bg-image {
        display: none;
    }
    .header__offcanvas {
        max-width: 100%;
        width: 100%;
        padding-top: 0;
    }
    .nav {
        flex-direction: row;
        /* width: 100%; */
        padding: 0;
        align-items: baseline;
    }
    .nav__item {
        flex-basis: auto;
        margin-bottom: 0;
        margin-right: 40px;
    }
    .button.nav__item{
        margin-left: auto;
        height: 48px;
        margin-right: 5px;
    }
}

/* ************DESKTOP*********** */

@media screen and (min-width: 1440px){
    .header {
        padding: 77px 165px 120px;
    }
    .logo {
        margin-right: 82.5px;
        height: 40px;
    }
    .hamburger {
        display: none;
    }
    .close {
        display: none;
    }
    .offcanvas__bg-image {
        display: none;
    }
    .header__offcanvas {
        max-width: 100%;
        width: 100%;
        padding-top: 0;
    }
    .nav {
        flex-direction: row;
        /* width: 100%; */
        padding: 0;
        align-items: baseline;
    }
    .nav__item {
        flex-basis: auto;
        margin-bottom: 0;
        margin-right: 40px;
    }
    .button.nav__item{
        margin-left: auto;
        height: 48px;
        margin-right: 0px;
    }
}
@media screen and (min-width: 768px){
    .about-container{
        text-align: center;
       
       
    }

    .about-container-img{
        display: flex;
        flex-direction: row;
        gap: 39px;
        justify-content: center;
    }

    .about-image{
        position:absolute ;
        top: -100px;
        left: 0px;
        width: 200px;
        height: 200px;
        opacity: 54%;
}
}