@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,600;1,700&display=swap");
:root {
    --midnight-green: #014e56;
    --light-coral: #f67e7e;
    --white: #ffffff;
    --rapture-blue: #79c8c7;
    --police-blue: #2c6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012f34;
    --dark-green: #002529;
    font-family: "Livvic", sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Livvic', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
.body__1 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.body__2 {
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
}
.h1-large {
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
}
.h1-small {
    font-size: 64px;
    line-height: 56px;
    font-weight: 700;
}
.h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
}
.h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}
.input__text,
.input__textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    color: white;
    padding-left: 14px;
    margin-bottom: 24px;
    max-width: 540px;
    width: 100%;
}
.input__text{
    padding-bottom: 16px;
}
.input__textarea {
    resize: none;
}
.input__text::placeholder,
.input__textarea::placeholder {
    opacity: 0.6;
}
.input__text:focus-visible,
.input__textarea:focus-visible {
    border-color: var(--rapture-blue);
    outline: none;
}
.input__message{
    display: none;
    font-weight: 700;
    font-style: italic;
    font-size: 10px;
    line-height: 0.5rem;
    padding-left: 14px;
    max-width: 540px;
    width: 100%;
}
.input-alert{
    border-color: var(--light-coral);
    color: var(--light-coral);
}
.input__text.input-alert,
.input__textarea.input-alert{
    margin-bottom: 8px;
}
.input__message.input-alert {
    display: block;
    margin-bottom: 24px;
}
.about-container-img{
    background-color:#012F34;
    display:flex;
    flex-direction: column;
    color: #FFFFFF;
    text-align: center;
    gap: 56px;
    padding-bottom: 88px;
   
    
} 
.about-container{
    background-color:#012F34;
    color: #FFFFFF;
    text-align: center; 
    position: relative;
    padding-top: 88px;
    padding-bottom: 64px;
    overflow: hidden;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
}



.about-container-box{
    max-height: 25px;
    max-width: 113px;
    text-align: center;
    
    
}

.about-image{
    position:absolute ;
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    opacity: 54%;
}
/*.about-text-size{
    font-size: 32px;
    font-weight: 700;
}  */


.button{
    border-width: 2px;
    border-style: solid;
    border-radius: 24px;
    padding: 9px 32px 11px;
    height: 48px;
}
.button:disabled{
    opacity: 0.25;
}
.button-primary-light{
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}
.button-primary-light:hover{
    background-color: var(--white);
    color: var(--sacramento-state-green);
}
.button-primary-dark {
    background-color: transparent;
    border-color: var(--sacramento-state-green);
    color: var(--sacramento-state-green);
}
.button-primary-dark:hover{
    background-color: var(--sacramento-state-green);
    color: var(--white);
}
.button-secondary {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--sacramento-state-green);
}
.button-secondary:hover {
    background-color: var(--rapture-blue);
    border-color: var(--rapture-blue);
}

/*index main banner*/

@media only screen and (max-width: 768px) {
    /* For mobile devices with a screen width between 375px to 768px */
    .main-banner {
        font-family: "Livvic";
        background-color: rgba(1, 78, 86, 1);
        color: #ffffff;
        padding-top: 80px;
    }
    .banner-title {
        text-align: center;
        width: 87.2%;
        height: 80px;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 18px;
        margin-left: 6.4%;
        margin-right: 6.4%;
    }
    .banner-text {
        font-style: normal;
        text-align: center;
        width: 87.2%;
        height: 112px;
        font-size: 15px;
        font-weight: 600;
        line-height: 28px;
        margin-left: 6.4%;
        margin-right: 6.4%;
    }
    .bg-pattern-home-2{
        text-align: center;
        margin-top: 97px;
        margin-left: 2%;
        margin-right: 2%;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1339px) {
    /* For tablets with a screen width between 769px and 1339px */
    .main-banner {
        padding-top: 112px;
        font-family: "Livvic";
        background-color: rgba(1, 78, 86, 1);
        color: #ffffff;
    }
    .banner-title {
        text-align: center;
        width: 88.94%;
        height: 112px;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
        margin-bottom: 24px;
        margin-left: 5.85%;
        margin-right: 5.21%;
    }
    .banner-text {
        text-align: center;
        font-style: normal;
        width: 59.5%;
        margin-left: 20.2%;
        margin-right: 20.3%;
        font-size: 15px;
        font-weight: 600;
        line-height: 28px;
    }
    .bg-pattern-home-2{
        text-align: center;
        margin-top: 156px;
    }
  }
  @media only screen and (min-width: 1440px) {
    /* For desktop computers with a screen width above 1440px */
    .main-banner {
        padding-top: 112px;
        font-family: "Livvic";
        background-color: rgba(1, 78, 86, 1);
        color: #ffffff;
    }
    .banner-title {
        display: inline-block;
        width: 635px;
        height: 200px;
        font-size: 100px;
        font-weight: 700;
        line-height: 100px;
    }
    .banner-text {
        display: inline-block;
        text-align: left;
        width: 445px;
        height: 112px;
        margin-left: 155px;
        margin-right: 156px;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
     }
     .bg-pattern-home-2{
        margin-top: 156px;
    }
  }

/*index main features*/

.main-features-body {
  position: relative;
  background-color: rgba(1, 47, 52, 1);
  font-family: "Livvic", sans-serif;
  text-align: center;
  overflow: hidden;
}
.red-line {
  position: absolute;
  padding: 28px 0px 25px 0px;
  left: 24px;
  width: 50px;
  height: 4px;
  border-bottom: solid #f67e7e;
}
.bg-pattern-home-3 {
  position: absolute;    
  display: inline-block;
  right:-100px;
  top: 0px;
 
}
.features-title {
  text-align: left;
  font-family: "Livvic";
  margin: 90px 100px 40px 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  font-style: normal;
  vertical-align: top;
  color: #ffffff;
  
}
.features h5{
    text-align: center;
    font-style: normal;
    vertical-align: top;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding: 25px 2px 0px 2px;
}

.features p{ 
    color: #ffffff;
    font-style: normal;
    font-size: 15px;
    opacity: 0.8;
    padding: 5px 25px 25px 25px;
    font-weight: 600;
    line-height: 25px;  
}


/*about main banner*/

.main-banner-body{
    position: relative;
    font-family: "Livvic";
    background-color: rgba(1, 78, 86, 1);
    color: #FFFFFF;
    overflow: hidden;
}
.main-banner-title {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: 'Livvic';
    font-style: normal;
    line-height: 56px;
    font-weight: 700;
    font-size: 64px;
    
}
.main-banner-text{
    text-align: center;
    margin: 0px 24px 108px 24px;
    height: 196px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    z-index: 30;
}
.main-banner-image {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -100px;
    right: -100px;;
    opacity: 53,49%; 
}
/* contacts banner */
.contacts-container{
    background-color: var(--midnight-green);
    font-weight: bold;
    color: var(--white);
    text-align: center;
    padding-bottom: 48px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}
.contacts-content{
    font-weight: bold;
    color: var(--white);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 24px
}  
.contacts-content__item {
    display: flex;
    align-items: center;
    align-content: flex-start;
}
.contacts-content__img{
    width: 72px;
    height: 72px;
    text-align: center;
}
.contacts-content__text{
    margin-left: 23px;
    text-align: left;
    min-width: 232px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0;
}
.contacts-text1{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
    font-weight: 700; 
}
.contacts-text2{
    font-size: 32px;
    color: var(--light-coral);
    line-height: 48px; 
    font-weight: 700;
    margin-bottom: 40px;
}
.contacts-container__img{
    display: none;
    position: absolute;
    top: 0;
    left: -100px;
    width: 200px;
    height: 200px;
}

/*footer*/

.ready-to-get-started{
    background-color:var(--light-coral);
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 83px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.ready-to-get-started__text{
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    color: var(--sacramento-state-green);
}

.ready-to-get-started__image {
    position: absolute;
    height: auto;
    width: 200px;
    bottom: -23px;
    left: 0px;    
}   
.footer-contacts-body {
    background-color: var(--dark-green);
    text-align: center;
    position: relative;
    padding-top: 60px;
    padding-bottom: 64px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-nav {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-logo{  
    margin-bottom: 24px;
    height: 24px;
    width: auto;
}
.footer-links {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--white);
}
.footer-links__home {
    margin-right: 24px;
}
.footer-links__home:hover,
.footer-links__about:hover {
    color: var(--light-coral);
}
.footer-contacts{
    color: var(--white);
    opacity:0.6;
    margin-bottom: 40px;
    flex-basis: 50%;
}
.social-network > a:hover{
    filter: invert(51%) sepia(8%) saturate(3511%) hue-rotate(314deg) brightness(125%) contrast(93%);
}
.social-network{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    align-items: center;
    flex-direction: row;
    column-gap: 16px;
    width: fit-content;
    flex-basis: 50%;
}
.copyright{
    color: var(--white);
    opacity:0.6;
    flex-basis: 50%;
    margin-bottom: 0;
}

/* header */
.header {
    background-color: var(--midnight-green);
    padding: 48px 24px;
    display: flex;
    align-items: center;
}
.logo{
    height: 32px;
    width: auto;
}
.hamburger {
    margin-left: auto;
}
.hamburger__img{
    height: 17px;
    width: auto;
}
.linked-img{
    height: fit-content;
}

.header__offcanvas {
    background-color: var(--police-blue);
    max-width: 255px;
    padding-top: 56px;
}
.nav{
    display: flex;
    flex-direction: row;
    padding: 0 48px;
}
.link-text{
    color: var(--white);
}
.link-text:hover{
    color: var(--light-coral);
}
.nav__item{
    flex-basis: 100%;
}
.nav__home {
    margin-bottom: 24px;
}
.nav__about {
    margin-bottom: 36px;
}
.close {
    margin-bottom: 39px;
    text-align: end;
    margin-right: 25px;
    line-height: 0;
}
.close__img {
    height: 17px;
    width: auto;
}
.offcanvas__bg-image{
    position: fixed;
    width: 200px;
    height: auto;
    bottom: 0;
    right: -100px;
}

/* index main stories */

.main-stories-body {
    color: var(--white);
    padding-top: 140px; 
    padding-bottom: 84px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    text-align: center;
    background-color: var(--deep-jungle-green); 
}
.quote {
    word-wrap: break-word;
    color: var(--white);
    background-image: url(assets/images/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 36px;
    margin-bottom: 16px;
}
.quotes {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    align-items: center;
}
.stories-icon {
    position: absolute;
    top: 0;
    left: 0;
}
.main-stories {
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 30px;
}
.success-stories {
    color: var(--rapture-blue);
    display: inline-block;
}
.name {
    color: var(--rapture-blue);
    margin-bottom: 2;
}
.role {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 16px;
}
.avatar {
    border-radius: 50%;
    border: 2px solid #C4FFFE;
    width: 62px;
    height: 62px;
}
.icon-bot-left {
    position: absolute;
    right: 0;
    bottom: 0;
}
/* form  */
.form-container {
    background-color: var(--midnight-green);
    padding: 10px 24px 88px 24px;
    position: relative;
    overflow: hidden;
}
.form-container__img {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -100px;
    right: -100px;
}
.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    min-width: 325px
}
.form > .button{
    align-self: start;
}

/* *********TABLET********* */

@media screen and (min-width: 768px){
    /* header */
    .header {
        padding: 73px 35px 111px;
    }
    .logo {
        margin-right: 54px;
    }
    .hamburger {
        display: none;
    }
    .close {
        display: none;
    }
    .offcanvas__bg-image {
        display: none;
    }
    .header__offcanvas {
        max-width: 100%;
        width: 100%;
        padding-top: 0;
    }
    .nav {
        flex-direction: row;
        padding: 0;
        align-items: baseline;
    }
    .nav__item {
        flex-basis: auto;
        margin-bottom: 0;
        margin-right: 40px;
    }
    .button.nav__item{
        margin-left: auto;
        margin-right: 5px;
    }

    /* contacts form */
    .form-container {
        padding: 64px 113px 112px 113px;
    }
    .form-container__img {
        bottom: -3px;
        height: 225px;
    }
    .form {
        min-width: 540px;
    }

    /* contacts banner */
    .contacts-text1 {
        font-size: 64px;
        line-height: 56px;
    }
    .contacts-container__img {
        display: inline;
    }
    .contacts-content__text {
        min-width: 420px;
    }


    /* main stories */
    .main-stories-body {
        padding-top: 100px;
        padding-left: 97px;
        padding-right: 98px;
        padding-bottom: 100px;
    }
    .quotes__container {
        max-width: 573px;
    }



    /* footer */
    .ready-to-get-started{
        padding: 76px 98px 76px 97px;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
    .footer-contacts-body {
        flex-direction: row;
        padding: 56px 40px;
    }
    .footer-nav {
        text-align: left;
        margin-bottom: 34px;
    }
    .footer-logo {
        margin-bottom: auto;
    }
    .footer-links {
        margin-bottom: 0;
    }
    .social-network {
        margin-bottom: 0;
    }
    .footer-contacts {
        text-align: right;
        margin-bottom: 34px;
    }
    .copyright {
        text-align: right;
    }
}

/* ************DESKTOP*********** */

@media screen and (min-width: 1440px){
    .header {
        padding: 77px 165px 120px;
    }
    .logo {
        margin-right: 82.5px;
        height: 40px;
    }
    .hamburger {
        display: none;
    }
    .close {
        display: none;
    }
    .offcanvas__bg-image {
        display: none;
    }
    .header__offcanvas {
        max-width: 100%;
        width: 100%;
        padding-top: 0;
    }
    .nav {
        flex-direction: row;
        padding: 0;
        align-items: baseline;
    }
    .nav__item {
        flex-basis: auto;
        margin-bottom: 0;
        margin-right: 40px;
    }
    .button.nav__item{
        margin-left: auto;
        margin-right: 0px;
    }

    /* contacts main*/
    .contacts-main {
        display: flex;
        flex-direction: row;
    }
    .contacts-container {
        width: 50%;
        padding-left: 165px;
        padding-right: 0;
        padding-bottom: 120px;
    }
    .contacts-text1 {
        line-height: 100px;
        text-align: left;
    }
    .contacts-text2 {
        text-align: left;
        margin-bottom: 32px;
    }
    .contacts-content {
        align-content: flex-start;
        gap: 8px;
    }
    .form-container {
        width: 50%;
    }


}
@media screen and (min-width: 768px){
    .about-container{
        text-align: center;
       
       
    }

    .about-container-img{
        display: flex;
        flex-direction: row;
        gap: 39px;
        justify-content: center;
    }

    .about-image{
        position:absolute ;
        top: -100px;
        left: 0px;
        width: 200px;
        height: 200px;
        opacity: 54%;
}
}
@media screen and (min-width: 768px){
    .about-container{
        text-align: center;
       
       
    }

    .about-container-img{
        display: flex;
        flex-direction: row;
        gap: 39px;
        justify-content: center;
    }

    .about-image{
        position:absolute ;
        top: -100px;
        left: 0px;
        width: 200px;
        height: 200px;
        opacity: 54%;
}
}

/*About banner tablet*/
@media screen and (min-width: 768px){

    .main-banner-body{
        position: relative;
        font-family: "Livvic";
        background-color: rgba(1, 78, 86, 1);
        color: #FFFFFF;
        overflow: hidden;
    }
    
    .main-banner-title{
        text-align: center;
       margin-bottom: 34px;
        font-family: 'Livvic';
        font-style: normal;
        line-height: 56px;
        font-weight: 700;
        font-size: 64px;
    
    }
    .main-banner-text{
      text-align: center;
      margin-left: 158px;
      margin-right: 153px ;
      margin-bottom: 45px;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
        z-index: 30;
    
    }
    .main-banner-image{
        position: absolute;
        width: 200px;
        height: 200px;
        bottom: 0px;
        right: -100px;;
       /* opacity: 0.53;*/ 
        mix-blend-mode: normal;
    
    }
}